<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shonku</title>
    <link rel="stylesheet" href="index.css">
</head>

<body>
    <!-- Navbar Starts -->
    <header>
        <div class="container flex">
            <a href="">
                <h1>Shonku</h1>
            </a>
            <nav>
                <ul>
                    <li> <a href="#home">Home</a></li>
                    <li><a href="#feature">Feature</a></li>
                    <li><a href="#docs">Docs</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <!-- Navbar Ends -->

    <!-- Showcase Starts -->
    <section class="showcase">
        <div class="container grid">
            <div class="showcase-text">
                <h2>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla provident maiores cum quia, veniam
                    tempora perferendis placeat eius et enim corporis fugiat dolorum reiciendis quisquam! Consectetur
                    nemo veritatis dolore illum.</p>
                <a href="#">Read More</a>
            </div>
            <div class="showcase-form card">
                <h2>Request for Demo</h2>
                <form action="">
                    <div class="form-control">
                        <input type="text" placeholder="name" name="name">
                    </div>
                    <div class="form-control">
                        <input type="text" placeholder="company" name="company">
                    </div>
                    <div class="form-control">
                        <input type="email" placeholder="email" name="email">
                    </div>

                    <button class="btn">Submit</button>
                </form>
            </div>
        </div>
    </section>
    <!-- Showcase Ends -->
</body>

</html>