@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

:root {
    --primary-color: #2f4f4f;
    --light-text: rgb(69, 70, 70);
}

html {
    font-family: Orbitron, sans-serif;
    /* font-weight: ; */
    font-size: 12px;
    line-height: 1.8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: black;
}

ul, li {
    list-style: none;
}

header {
    background: var(--primary-color);
    color: white;
    height: 60px;
    }

header  a {
    color: white;
}



header .flex {
    justify-content: space-between;
}

nav ul {
    display: flex;
}
nav a {
    color: white;
    padding: 10px;
    margin: 0 5px;
}
nav a:hover {
    border-bottom: 2px white solid;
}

/* Showcase */
.showcase {
    height: 400px;
    background: rgb(93,153,120);
    background: linear-gradient(265deg, rgb(58, 97, 75) 0%, rgba(47,79,79,1) 100%); 
    color: white;
    
}

.showcase h2 {
    margin: 10px 0;
}

.showcase p {
    margin: 20px 0;
    line-height: 1.9;
}
.showcase a {
    color: white;
}

.showcase-form {
    background-color: white;
    padding: 25px;
}
.showcase-form h2 {
    
    color: var(--light-text);
}
.showcase-form input {
    border: 0;
    border-bottom: 1px solid rgb(194, 194, 194);
    width: 100%;
    margin: 20px 0;
}

/* Utility Classes */

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 40px;
      }

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 100%;
}

.card {
    border-radius: 5px;
}

.btn {
width: 90px;
height: 25px;
border-radius: 3px;
background-color: #f65858;
}